body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container{
  max-width: 1200px;
  margin : 0 auto;
}

ul{
  padding: 0;
}

li {
  list-style-type: none;
}

.languages{
  
  display: flex;
  justify-content: center
}

.languages li{
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  
  
  
}

.popular-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgb(255, 206, 200);
  
  
}

.popular-item{
  margin:  20px;
  text-align: center;

}

.popular-rank{
  margin: 10px;
  font-size: 20px;
  

}
.avatar{
  height: 100px;;
  width: 100px ;
}
.btn{
  display: inline-block;
  border: none;
  color: #171919;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: Verdana;
  width: auto;
  height: auto;
  font-size: 25px;
  padding: 10px 40px;
  box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955,0px 8px 5px 0 #B3B3B3;
  -moz-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955,0px 8px 5px 0 #B3B3B3;
  -webkit-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955,0px 8px 5px 0 #B3B3B3;
  text-shadow: 0 1px 0 #48576D;
  background-image: linear-gradient(to bottom, #5884BC, #395e8d);
  background-color: #4471a9;
 }
 .btn:hover, .btn:active{
  border: none;
  color: #FFF;
  box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
  -moz-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
  -webkit-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
  background-color: #395e8d;
 }